# Ignore generated data files (keep folder via .gitkeep)
mysql/data/*
!mysql/data/.gitkeep
redis/data/*
!redis/data/.gitkeep
minio/data/*
!minio/data/.gitkeep

# Keep init scripts tracked
!postgres/init/

