.leave_modal {
  .modalContent {
    padding: 12px 0;
    display: flex;
    gap: 6px;
    align-items: center;
  }

  .warningIcon {
    color: #ff4d4f;
    font-size: 16px;
    flex-shrink: 0;
    margin-top: 2px;
  }

  .warningText {
    color: #ff4d4f;
    font-size: 16px;
    line-height: 1.5;
  }

  .modalFooter {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding-top: 24px;

    .cancelBtn,
    .confirmBtn {
      border-radius: 6px;
      height: 40px;
      padding: 0 38px;
    }
  }
}
