.keyHistoryContainer {
  width: calc(100% - 262px);
  margin-left: auto;
  margin-right: auto;

  .backButton {
    height: 80px;
    display: flex;
    align-items: center;

    .backButtonContainer {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 1px;

      .backButtonIcon {
        width: 28px;
        height: 28px;
        margin-right: 12px;
      }

      .backButtonText {
        font-family: PingFang SC;
        font-size: 24px;
        font-weight: 600;
        line-height: 26px;
        display: flex;
        align-items: center;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }

  .tip {
    display: flex;

    .tipTitle {
      font-size: 14px;
      font-weight: 500;
      color: #e9ad65;
    }

    .tipDesc {
      font-size: 14px;
      font-weight: 600;
      color: #333;
    }
  }

  .statistic {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    // height: 207px;
    overflow: hidden;
    justify-content: space-between;

    .certified_card {
      width: max(48%, 570px);
      // height: 207px;
      background: #ffffff;
      border-radius: 10px;
      box-shadow: 0px 4px 8px 0px rgba(112, 153, 208, 0.1);
      padding: 10px 14px;

      &_title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          font-size: 16px;
          font-weight: 500;
          color: #08233b;
        }

        div {
          cursor: pointer;
          width: 93px;
          height: 30px;
          border: #dedde9 1px solid;
          border-radius: 6px;
          // text
          font-size: 12px;
          font-weight: 400;
          text-align: center;
          color: #43436b;
          line-height: 30px;
        }
      }

      .appid_box {
        display: flex;
        justify-content: space-between;

        .appid_download {
          display: block;
          font-size: 10px;
          font-weight: 500;
          color: #7487fe;
          width: 93px;
          // margin-right: 10px;
          line-height: normal;
          text-align: center;
          text-decoration: revert;
        }
      }

      .appid_select {
        max-width: 80%;
        height: 25px;
        display: flex;
        align-items: center;
        margin-top: 4px;

        .appid_select_title {
          font-size: 12px;
          font-weight: 400;
          color: #43436b;
          margin-right: 4px;
          white-space: nowrap;
        }

        .appid_select_appid {
          font-size: 14px;
          font-weight: 700;
          color: #7487fe;
          margin-left: 3px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .appid_select_divide {
          width: 1px;
          height: 19px;
          opacity: 0.2;
          border: 1px solid #6ea5d2;
          margin: 0 20px;
        }

        :global {
          .ant-select-selector {
            // height: 25px;
            border-radius: 999px;
          }

          .ant-select-selection-item {
            line-height: 25px;
          }
        }
      }

      &_tips {
        font-size: 10px;
        font-weight: 400;
        color: #9191a7;
        margin-top: 6px;
      }

      .cer_divide {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 100%;
      }

      .cer_info {
        margin-top: 6px;
        display: flex;

        .info_label {
          font-size: 12px;
          font-weight: 400;
          color: #43436b;
          min-width: 62px;
        }

        .info_res {
          font-size: 12px;
          font-weight: 400;
          color: #9295bf;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 80%;
        }
      }
    }

    .right {
      margin-left: 10px;
      width: max(48%, 600px);
    }

    .statistic_card {
      width: 100%;
      height: 142px;
      background: #ffffff;
      border-radius: 9px;
      box-shadow: 0px 4px 8px 0px rgba(112, 153, 208, 0.1);
      display: flex;
      align-items: center;
      justify-content: space-around;

      .statistic_divide {
        width: 1px;
        height: 77px;
        opacity: 0.2;
        border: 1px solid #6ea5d2;
      }

      .statistic_data {
        display: flex;
        flex-direction: column;
        align-items: center;

        .data_img {
          height: 50px;
        }

        .data_used_num {
          font-size: 28px;
          font-family: DINAlternate, DINAlternate-Bold;
          font-weight: 700;
          color: #597dff;
        }

        .data_title {
          font-size: 14px;
          font-weight: 500;
          color: #9295bf;
        }
      }
    }

    .statistic_tips {
      display: flex;
      margin-top: 20px;

      &_title {
        width: 60px;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC, PingFangSC-Regular;
        font-weight: 400;
        text-align: right;
        color: #e88839;
        line-height: 17px;
        margin-right: 10px;
      }

      &_lists {
        li {
          font-size: 12px;
          font-family: PingFangSC, PingFangSC-Semibold;
          font-weight: 600;
          text-align: justify;
          color: #9295bf;
          line-height: 17px;
          margin-bottom: 3px;

          img {
            width: 23px;
          }

          span {
            cursor: pointer;
            color: #597dff;
          }
        }

        li::before {
          width: 6px;
          height: 6px;
          background: #ffb679;
          border: 1px solid #ffa458;
          border-radius: 50%;
          content: "";
          display: inline-block;
          margin-right: 6px;
          transform: translateY(-2.5px);
        }
      }
    }
  }


}