.appListPage {
  width: 100%;
  padding: 24px;
  .title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;

    .aff {
      height: 34px;
      font-weight: 500;
      text-align: justify;
      margin-right: 9px;
      font-family: 苹方-简;
      font-size: 20px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: normal;
      color: #333333;
    }
  }
  .tableArea {
    background: #ffffff;
    border-radius: 18px;
    margin: 12px auto auto;
    padding: 20px 20px;
    :global {
      .ant-table-body {
        height: max(120px, calc(100vh - 340px));
      }
    }
    :global {
      .ant-table {
        background-color: transparent;
      }

      .ant-table-cell {
        color: #43436b;
        .ant-empty.ant-empty-normal{
          display: block;
          text-align: center;
        }
      }

      .ant-table-tbody > tr.ant-table-row:hover > td,
      .ant-table-tbody > tr > td.ant-table-cell-row-hover {
        background: rgba(#ffffff, 0.5);
      }

      .ant-table-header,
      .ant-table-thead {
        .ant-table-cell {
          background: #f2f5fe;
          font-family: PingFang SC;
          font-size: 14px;
          font-weight: 500;
          line-height: normal;
          letter-spacing: normal;
          color: #7f7f7f;
          border-bottom: none;
          .froms {
            display: flex;
            justify-content: center;
            .imgsReleaseType {
              margin-right: 10px;
            }
          }
          &::before {
            display: none;
          }
        }
        border-bottom: 1px solid #e4eaff;
        border-radius: 16px 16px 0 0;
      }
      .ant-table-thead {
        tr {
          :first-child {
            padding-left: 24px;
          }
        }
      }
      .ant-table-tbody > tr > td {
        border-bottom: 1px solid rgba(#d0d9f1, 0.56);
      }

      .ant-table-body {
        scrollbar-color: #c9cde0 transparent;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
          width: 4px;
          height: 4px;
        }

        &::-webkit-scrollbar-thumb {
          width: 4px;
          border-radius: 2px;
          background-color: #c9cde0;
        }

        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
      }

      .ant-pagination {
        color: #979797;
        margin-top: 20px;
        margin-bottom: 5px;

        .ant-pagination-total-text {
          margin-right: auto !important;
        }
        .ant-pagination-options {
          margin-left: auto !important;
        }
      }

      .ant-pagination-prev .ant-pagination-item-link,
      .ant-pagination-next .ant-pagination-item-link {
        background-color: transparent;
        border-color: transparent;
      }

      .ant-pagination-item {
        width: 32px;
        height: 32px;
        border-radius: 3px;
        background: #fff;
        border: 1px solid #d7dfe9;
        a {
          color: rgba(0, 0, 0, 0.6);
        }

        &.ant-pagination-item-active {
          background: #275eff;
          border: 1px solid #275eff;
          color: #fff;
          a {
            color: #fff;
          }
        }
      }
    }

    .noData {
      margin:50px autp;
      text-align: center;
      :global {
        .ant-table-tbody > tr > td {
          border-bottom: none !important;
        }
      }
    }
    .tableOperation{
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 16px;
    }
  }
  
}
