@media screen and (max-width: 1600px) {
  .boundCard {
    .boundCreateBoxContainerTop {
      .boundCreateBoxRightSelect {
        width: 200px !important;
      }

      .BoundKeyInfo {

        .BoundKeyInfoLeft,
        .BoundKeyInfoRight {
          width: 300px !important;
        }
      }
    }
  }

}

@media screen and (max-width: 1400px) {
  .boundCard {
    .boundCreateBoxContainerTop {
      .boundCreateBoxRightSelect {
        width: 160px !important;
      }

      .boundCreateBoxRightInput {
        width: 220px !important;
      }

      .BoundKeyInfo {

        .BoundKeyInfoLeft,
        .BoundKeyInfoRight {
          width: 200px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .boundInfoContentRight {
    display: none !important;
  }
}

.boundCard {
  width: 100%;
  // height: 417px;
  padding: 19px 24px 30px 27px;
  border-radius: 18px;
  background: #FFFFFF;
  margin-bottom: 16px;

  .boundCardTitle {
    font-family: 苹方-简;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: normal;
    color: #333333;
    margin-bottom: 21px;
  }

  .boundCardContent {
    display: flex;

    .boundInfoContentLeft {
      flex: 1;
      padding-right: 27px;

      .boundCreateBoxContainerTop {
        display: flex;
        margin-bottom: 10px;

        .boundCreateBox {
          display: flex;
          margin-right: 20px;

          .boundCreateBoxLeft {
            margin-right: 20px;

            .boundCreateBoxLeftTitle {
              font-family: PingFang SC;
              font-size: 14px;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: normal;
              color: #3D3D3D;
              margin-bottom: 8px;
            }

            .boundCreateBoxRightSelect {
              width: 400px;
              height: 36px;
            }
          }

          .boundCreateBoxRight {
            .boundCreateBoxRightTitle {
              font-family: PingFang SC;
              font-size: 14px;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: normal;
              color: #3D3D3D;
              margin-bottom: 8px;

              span {
                font-family: PingFang SC;
                font-size: 12px;
                font-weight: normal;
                line-height: 24px;
                letter-spacing: normal;
                color: #7F7F7F;
                margin-left: 37px;
              }
            }

            .boundCreateBoxRightInput {
              width: 292px;
              height: 36px;
            }
          }
        }

        .BoundKeyInfo {
          display: flex;

          .BoundKeyInfoLeft,
          .BoundKeyInfoRight {
            width: 350px;
            height: 74px;
            background-color: #F7F8FA;
            border-radius: 8px;
            background: #F2F5FE;
            padding: 0 14px;

            .BoundKeyInfoLeftTitle,
            .BoundKeyInfoRightTitle {
              font-family: 苹方-简;
              font-size: 14px;
              font-weight: 500;
              letter-spacing: normal;
              color: #333333;
            }

            .BoundKeyInfoLeftDesc,
            .BoundKeyInfoRightDesc {
              font-family: 苹方-简;
              font-size: 14px;
              font-weight: 500;
              letter-spacing: normal;
              color: #7F7F7F;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          .BoundKeyInfoLeft {
            margin-right: 10px;
            display: flex;
            justify-content: space-between;
            padding-right: 14px;

            .BoundKeyInfoKeyBox {
              width: calc(100% - 48px);
              padding-top: 12px;
            }

            img {
              margin-top: 14px;
              width: 48px;
              height: 48px;
            }
          }

          .BoundKeyInfoRight {
            padding-top: 12px;
            margin-right: 22px;
          }


        }

        .boundButtonBox {
          display: flex;
          min-width: 202px;
          align-items: flex-end;

          .boundButton {
            height: 36px;
            line-height: 36px;
            text-align: center;
            padding: 0px 14px;
            border-radius: 8px;
            background: #275EFF;
            font-family: 苹方-简;
            font-size: 14px;
            font-weight: 500;
            color: #FFFFFF;
            margin-right: 10px;
            cursor: pointer;
            white-space: nowrap;
          }

          .boundButtonDisabled {
            background-color: #D8D8D8;
            cursor: not-allowed;

          }

          .boundButtonGoApi {
            height: 36px;
            line-height: 36px;
            text-align: center;
            padding: 0px 14px;
            border-radius: 8px;
            background: #FFFFFF;
            box-sizing: border-box;
            border: 1px solid #E4EAFF;
            font-family: 苹方-简;
            font-size: 14px;
            font-weight: normal;
            letter-spacing: normal;
            color: #333333;
            cursor: pointer;
            white-space: nowrap;
          }
        }
      }

      .tipContainer {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 8px;
        max-width: 502px;
        background: rgba(247, 78, 67, 0.05);

        font-family: PingFang SC;
        font-size: 12px;
        font-weight: normal;
        line-height: 18px;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.8);

        img {
          width: 18px;
          height: 18px;
          margin-right: 2px;
        }
      }

      .line {
        width: 100%;
        height: 1px;
        background-color: #D8D8D8;
        margin: 23px 0;
      }

      .boundKeyInfoItemBox {
        display: flex;
        flex-direction: column;

        .boundKeyInfoItem {
          display: flex;
          height: 42px;
          align-items: center;

          .boundKeyInfoItemTitle {
            width: 70px;
            font-family: PingFang SC;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: normal;
            color: #7F7F7F;
            margin-right: 14px;
          }

          .boundKeyInfoItemDesc {
            font-family: PingFang SC;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: normal;
            color: #333333;
          }

          .boundKeyInfoItemDescNoBound {
            font-family: PingFang SC;
            font-size: 14px;
            font-weight: normal;
            line-height: 16px;
            letter-spacing: normal;
            color: #B2B2B2;
          }
        }
      }


    }

    .boundInfoContentRight {
      width: 404px;
      // height: 100%;
      max-height: 284px;
      padding: 26px 22px;
      border-radius: 18px;
      background: #F5F6F9;

      .boundInfoContentRightTop {
        margin-bottom: 36px;
        display: flex;
        align-items: center;

        .boundInfoContentRightTopTitle {
          font-family: PingFang SC;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: normal;
          color: #3D3D3D;
          margin-right: 13px;
          white-space: nowrap;
        }

      }

      .boundInfoContentRightDesc {
        display: flex;
        flex-direction: column;

        .tokenContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 26px;

          .tokenInfo {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .tokenInfoTitle {
              font-family: PingFang SC;
              font-size: 14px;
              font-weight: 500;
              letter-spacing: normal;
              color: #3D3D3D;
              margin-bottom: 4px;
            }

            .tokenInfoNum {
              font-family: MiSans;
              font-size: 28px;
              font-weight: bold;
              line-height: 32px;
              text-align: center;
              letter-spacing: normal;
              color: #333333;
            }

          }

          .tokenLine {
            width: 1px;
            height: 60px;
            background-color: #D8D8D8;
          }
        }

        .line {
          width: 100%;
          height: 1px;
          background-color: #D8D8D8;
          margin-bottom: 15px;
        }

        .qpsContainer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 60px;

          .qpsInfoTitle {
            font-family: PingFang SC;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: normal;
            color: #3D3D3D;
          }

          .qpsInfoNum {
            font-family: MiSans;
            font-size: 28px;
            font-weight: bold;
            line-height: 32px;
            text-align: center;
            letter-spacing: normal;
            color: #333333;
          }
        }
      }

      .onBoundInfoContentRightDesc {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 74px;
          height: 72px;
          margin-bottom: 22px;
        }

        span {
          font-family: PingFang SC;
          font-size: 14px;
          font-weight: normal;
          line-height: 24px;
          letter-spacing: normal;
          color: #B2B2B2;
        }
      }

    }
  }
}


:global {
  .ant-input-number-input-wrap {
    input {
      height: 36px;
    }
  }
}