.container {
  width: calc(100% - 262px);
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;

  @media screen and (max-width: 1700px) {
    width: calc(100% - 100px);
  }

  @media screen and (max-width: 1600px) {
    .publishProcessTip {
      .publishProcessTipLine {
        margin: 0 40px 0 20px !important;
      }

      .publishProcessTipRightNumBox {
        padding: 0 30px !important;

        .publishProcessTipRightNumLine {
          width: 150px !important;
          margin: 0 20px !important;
        }
      }

      .publishProcessTipRightDescItem {
        // flex-direction: column !important;
        display: block !important;

        .publishProcessTipRightDescItemLinkBox {
          display: inline-block !important;

          img {
            display: inline-block !important;
          }
        }

        &:nth-child(1) {
          max-width: 200px;
          margin-right: 68px !important;
        }

        &:nth-child(2) {
          margin-right: 40px !important;
        }
      }
    }
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;

    .headerLeft {
      display: flex;
      align-items: center;

      .headerLeftContainer {
        display: flex;
        align-items: center;

        .backButtonIcon {
          width: 28px;
          height: 28px;
          cursor: pointer;
          margin-right: 14px;
        }

        .backButtonText {
          font-family: PingFang SC;
          font-size: 24px;
          font-weight: 600;
          line-height: 26px;
          display: flex;
          align-items: center;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.8);
        }
      }

      .promptContainer {
        padding-left: 8px;
        display: flex;
        height: 24px;

        .backBuptonDesc {
          font-family: PingFang SC;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          display: flex;
          align-items: center;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }

    .headerRight {
      padding-right: 2.5rem;
      display: flex;
      align-items: center;

      .historyButton {
        width: 134px;
        height: 36px;
        line-height: 36px;
        border-radius: 8px;
        background: #ffffff;
        border: 1px solid #d3dbf8;
        font-family: 苹方-简;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        letter-spacing: normal;
        color: #333333;
        cursor: pointer;
      }
    }
  }

  .publishProcessTip {
    height: 141px;
    border-radius: 18px;
    padding: 22px 26px;
    display: flex;
    width: 100%;
    background: #ffffff;
    margin-bottom: 29px;

    .publishProcessTipLeft {
      display: flex;
      align-items: center;

      .publishProcessTipLeftIcon {
        width: 96px;
        height: 96px;
      }

      .publishProcessTipLeftTitle {
        display: flex;
        flex-direction: column;

        align-items: flex-start;

        div {
          font-family: 苹方-简;
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: normal;
          color: #333333;
          margin-bottom: 8px;
        }

        span {
          background-image: url("~assets/imgs/api-key/cornerMarkIcon.png");
          background-repeat: no-repeat;
          background-size: 200% 210%;
          background-position: center;
          width: 52px;
          height: 25px;
          font-family: PingFang SC;
          font-size: 12px;
          font-weight: 600;
          line-height: 25px;
          text-align: center;
          letter-spacing: normal;
          color: #d65827;
        }
      }
    }

    .publishProcessTipLine {
      width: 1px;
      height: 100%;
      background-color: #e2e8ff;
      margin: 0 80px 0 30px;
    }

    .publishProcessTipRight {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .publishProcessTipRightNumBox {
        display: flex;
        align-items: center;
        // padding: 0 90px;
        margin-bottom: 13px;

        .publishProcessTipRightNumLine {
          width: 226px;
          height: 1px;
          background: rgba(0, 0, 0, 0.1);
          margin: 0 21px 0 30px;
        }

        .publishProcessTipRightNum {
          display: flex;
          justify-content: center;
          align-items: center;

          .publishProcessTipRightNumTitle {
            width: 24px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            border-radius: 24px;
            background: #6356EA;
            color: #fff;
            margin-right: 6px;
            font-family: PingFang SC;
            font-size: 12px;
            font-weight: normal;
            letter-spacing: normal;
          }

          .publishProcessTipRightNumDesc {
            font-family: 苹方-简;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: normal;
            color: #333333;
          }
        }
      }

      .publishProcessTipRightDesc {
        display: flex;
        width: 100%;

        .publishProcessTipRightDescItem {
          display: flex;
          align-items: center;
          font-family: 苹方-简;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: normal;
          color: #7f7f7f;

          .publishProcessTipRightDescItemLinkBox {
            display: flex;
            align-items: center;
          }

          .publishProcessTipRightDescItemLink {
            font-family: 苹方-简;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: normal;
            color: #6356EA;
            margin-left: 8px;
            margin-right: 6px;
            cursor: pointer;
          }

          .publishProcessTipRightDescItemLinkIcon {
            width: 8px;
            height: 12px;
            cursor: pointer;
          }

          &:nth-child(1) {
            margin-right: 78px;
          }

          &:nth-child(2) {
            margin-right: 130px;
          }
        }
      }
    }
  }

  .bindKeyButton {
    width: 100%;
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #ffffff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 1rem 0;
    border: 1px solid #e4eaff;
  }
}

:global {
  .ant-input-number-input-wrap {
    input {
      height: 36px;
    }
  }
}
