.bot_info_modal_wrap {
  width: 100%;
  :global {
    .ant-input-textarea-show-count.ant-input-textarea-in-form-item::after {
      position: absolute;
      bottom: 22px;
      right: 15px;
    }
    .ant-input-textarea {
      position: relative;
    }
    .ant-modal-wrap {
      z-index: 1000;
    }
    .ant-modal-mask {
      z-index: 1000;
    }
    .ant-modal-content {
      border-radius: 13px;
    }
    .ant-modal-body {
      padding: 14px 25px;
      height: auto;
      width: auto;
    }
    .ant-form-item {
      margin-bottom: 5px;
    }
    // .ant-form-item-label
    //   > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    //   display: none;
    // }

    // .ant-form-item-label
    //   > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
    //   content: '*';
    //   color: red;
    // }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector,
    .ant-input {
      border-radius: 6px;
    }

    .ant-input:focus,
    .ant-input-focused,
    .ant-select-selector {
      box-shadow: none;
    }

    .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
      box-shadow: none;
    }
  }
  .prologue {
    margin-bottom: 10px;
    .titleBg {
      display: flex;
      margin-top: 12px;
      margin-bottom: 10px;
      justify-content: space-between;
    }
    .huixianBg {
      display: flex;
      justify-content: space-between;
      .positionBox {
        position: relative;
        .hengTip {
          position: absolute;
          background-color: #565d63;
          // opacity: 0.5;
          border-radius: 5px;
          width: 70px;
          height: 25px;
          line-height: 25px;
          top: 5px;
          left: 7px;
          z-index: 22;
          color: #fff;
          text-align: center;
        }
        .shuTip {
          position: absolute;
          background-color: #565d63;
          // opacity: 0.5;
          border-radius: 5px;
          width: 70px;
          height: 25px;
          line-height: 25px;
          top: 5px;
          left: 7px;
          z-index: 22;
          color: #fff;
          text-align: center;
        }
      }
      .coverUrlPC {
        width: 371px;
        height: 152px;
        border-radius: 12px;
      }
      .coverUrlApp {
        width: 144px;
        height: 152px;
        border-radius: 12px;
      }
    }
  }
  .shangchuangBg {
    width: 500px;
    height: 152px;
    margin: 0 auto;
    // margin-top: 15px;
    border-radius: 16px;
    background: url("@/assets/imgs/create-bot-v2/shangchuangBg.svg") center center no-repeat;
    background-size: cover;
    cursor: pointer;
    // margin-top: 15px;
  }
  .bot_info_modal {
    width: 100%;
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      width: 4px;
      border-radius: 2px;
      background-color: #c9cde0;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    .subtitle {
      width: fit-content;
      height: 25px;
      font-size: 18px;
      font-weight: 600;
      color: #0a143f;
      line-height: 25px;
      margin-bottom: 17px;
    }
  }

  .textField {
    font-size: 14px;
    font-weight: 400;
    // color: #43436b;
    border-radius: 6px;
    // min-height: 81.7778px !important;

    &[disabled] {
      color: rgba(0, 0, 0, 0.25);
      background-color: #f5f5f5;
      border-color: #d9d9d9;
    }
  }

  .bottom {
    padding-top: 24px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 10px;

    .btn {
      width: 90px;
      border-radius: 6px;
      &:last-of-type {
        // background: #2a6ee9;
        transition: all 0.2s;

        &:hover {
          opacity: 0.85;
        }
      }
    }
  }
}
.peizhiUploadModel {
  :global {
    .ant-modal-content {
      padding: 20px 24px !important;
      border-radius: 13px;
    }
    .ant-modal-header {
      border-radius: 13px;
    }
  }
  .flexBoxTip {
    display: flex;
    margin-top: 5px;
    .dian {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      margin-top: 9px;
      margin-right: 4px;
      background-color: #000;
    }
  }
  .shuTip {
    position: absolute;
    width: 70px;
    height: 25px;
    line-height: 25px;
    background-color: #565d63;
    // opacity: 0.5;
    top: 5px;
    left: 7px;
    z-index: 22;
    color: #fff;
    text-align: center;
    border-radius: 5px;
  }
  .hengTip {
    position: absolute;
    background-color: #565d63;
    // opacity: 0.5;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    top: 5px;
    left: 7px;
    z-index: 22;
    color: #fff;
    text-align: center;
  }

  .ant-modal {
    width: 557px !important;
  }

  .cropperBox {
    display: flex;
    margin-top: 15px;
  }
  .flexBox {
    display: flex;
    .peizhiReset {
      width: 80px;
      height: 28px;
      text-align: center;
      line-height: 27px;
      border-radius: 5px;
      font-size: 12px;
      margin-top: 28px;
      border: 1px solid #d7dee8;
      cursor: pointer;
    }
  }
  .shupingHezi {
    height: 195px;
    width: 145px;
    overflow: hidden;
    position: relative;
    // :global {
    //   .reactEasyCrop_CropArea {
    //     width: 145px!important;
    //     height: 195px !important;
    //   }
    // }
    // img{
    //   height: 195px;
    //   width: 145px;
    //   object-fit: cover;
    // }
  }
  .peizhiBotton {
    display: flex;
    justify-content: flex-end;
    height: 45px;
    margin-top: 28px;
    .peizhiCancel {
      width: 80px;
      height: 28px;
      text-align: center;
      line-height: 27px;
      border-radius: 5px;
      font-size: 12px;
      margin-right: 8px;
      border: 1px solid #d7dee8;
      cursor: pointer;
    }
    .disabledButton {
      // pointer-events: none; /* 禁用鼠标事件 */
      opacity: 0.5; /* 设置透明度表示按钮不可用 */
      cursor: not-allowed; /* 将鼠标光标改为默认样式 */
      width: 80px;
      height: 28px;
      background: #275eff;
      text-align: center;
      color: #fff;
      line-height: 27px;
      border-radius: 5px;
      font-size: 12px;
    }
    .peizhiQueren {
      width: 80px;
      height: 28px;
      background: #275eff;
      text-align: center;
      color: #fff;
      line-height: 27px;
      border-radius: 5px;
      font-size: 12px;
      cursor: pointer;
    }
  }
}
