.upload_bot_cropper_image {
  width: 100%;

  .box {
    width: 84px;
    height: 84px;
    background: rgba(116, 135, 254, 0.06);
    border: 1px solid rgba(116, 135, 254, 0.37);
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &.flag {
        width: 72px;
        height: 72px;
        border-radius: 16px;
        margin-right: 16px;
    }

    &.noBorder {
      border: none;
    }

    img {
      width: 100%;
      height: auto;
    }

    .up_btn {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        font-size: 12px;
        color: #597dff;
      }
    }

    .fake_box {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      background: rgba(0, 0, 0, 0.7);

      .up_btn {
        span {
          font-size: 12px;
          color: white;
        }
      }
    }
  }

  .generate_btn {
    position: absolute;
    top: 78px;
    left: 7px;
    margin-top: 10px;
    z-index: 3;
    cursor: pointer;
    width: 72px;
    height: 24px;
    // background-image: url('https://aixfyun-cn-bj.xfyun.cn/bbs/45868.54057209624/1.png');
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #ffffff;
    background: linear-gradient(270deg, #275eff 0%, #c927ff 100%);
    border-radius: 16px;
    opacity: 0.8;

    &.loading {
      cursor: not-allowed;
      filter: grayscale(100);
    }
  }
}

.crop_slide {
  margin-top: 20px;

  :global {
    .ant-slider-handle {
      background-color: #6b89ff;
    }
  }
}

:global(.lang-en) {
  .generate_btn {
    width: auto !important;
    min-width: 72px;
    padding: 0 4px;
    left: 0;
  }
}
