.segmentedWrapper {
  :global {
    .ant-segmented {
      width: fit-content !important;
      border-radius: 10px;
      background: #f6f9ff !important;
      padding: 4px;
    }

    .ant-segmented-item {
      padding: 8px 16px;

      .ant-segmented-item-label {
        min-height: 16px;
        line-height: 16px;
        padding: 0;
      }
    }

    .ant-segmented-item-selected {
      border-radius: 10px;
      background: #ffffff;
      box-shadow: 0px 2px 4px 0px rgba(46, 51, 68, 0.0373);
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      color: #275eff;
    }
  }
}

