.open_source_modal {
  :global {
    .ant-modal-content {
      border-radius: 16px !important;
      padding: 0 !important;
    }
  }
  :global {
    .ant-modal-close-x {
      font-size: 14px;
      color: #333333;
    }
    .ant-modal-content {
      padding: 0 !important;
    }
  }
  .modal_content {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 490px;

    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      display: flex;
      align-items: center;
      letter-spacing: 0px;
      color: #333333;
    }

    .intelligentAgents {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;

      .cueWord {
        width: 374px;
        height: 386px;
        border-radius: 18px;
        opacity: 1;
        background: #ffffff;
        box-sizing: border-box;
        border: 1px solid #d3dbf8;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        position: relative;
        cursor: pointer;
        &:hover {
          border: none;
          outline: 2px solid #275eff;
          box-shadow: 0px 20px 30px 0px rgba(39, 94, 255, 0.15);
        }
      }
      .cueWord_left_top {
        background-image: url('@/assets/imgs/create-application-modal/left-top.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 44px;
        height: 28px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        line-height: 28px;
        color: #ffffff;
      }
      .cueWord img {
        margin-bottom: 3px;
        /* 图片下方的间距 */
      }
      .Workflow_img {
        background-image: url('@/assets/imgs/create-application-modal/WorkflowPre.png');
      }
      .cueWord_img {
        background-image: url('@/assets/imgs/create-application-modal/cueWord.png');
        background-size: cover;
        // background-position: center;
        background-repeat: no-repeat;
        width: 342px;
        height: 268px;
        position: relative;
      }
      .cueWord_icon {
        background: linear-gradient(180deg, #ffcc00 0%, #ff9602 100%);
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        height: 40px;
        line-height: 40px;
        border-radius: 0 0 12px 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
      .cueWord p {
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0px;
        color: #000000;
        margin: 24px 0 8px;
      }

      .cueWord span {
        font-size: 14px;
        font-weight: normal;
        line-height: normal;
        text-align: center;
        letter-spacing: 0px;
        color: #7f7f7f;
      }

      .Workflow {
        width: 374px;
        height: 386px;
        border-radius: 18px;
        opacity: 1;
        background: #ffffff;
        box-sizing: border-box;
        border: 1px solid #d3dbf8;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        cursor: pointer;
        &:hover {
          outline: 2px solid #275eff;
          box-shadow: 0px 20px 30px 0px rgba(39, 94, 255, 0.15);
        }
      }
      .Workflow_img {
        background-image: url('@/assets/imgs/create-application-modal/WorkflowPre.png');
        background-size: cover;
        // background-position: center;
        background-repeat: no-repeat;
        width: 342px;
        height: 268px;
        position: relative;
      }
      .Workflow img {
        margin-bottom: 3px;
        /* 图片下方的间距 */
      }

      .Workflow p {
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0px;
        color: #000000;
        margin: 24px 0 8px;
      }

      .Workflow span {
        font-size: 14px;
        font-weight: normal;
        line-height: normal;
        text-align: center;
        color: #7f7f7f;
      }

      .selected {
        border: none;
        outline: 2px solid #275eff;
      }
    }
  }
}

:global(.lang-en) {
  .cueWord_left_top {
    width: 110px !important;
    height: 28px !important;
    /* 强制覆盖所有背景属性 */
    background: none !important;
    background-image: linear-gradient(
      135deg,
      #ac30ff 0%,
      #3758ff 100%
    ) !important;
    border-radius: 4px !important;
    //左上角18xp
    border-top-left-radius: 18px !important;
    padding: 0 16px !important;
    line-height: 28px !important;
    text-align: center !important;
    white-space: nowrap !important;
  }

  .cueWord_icon {
    white-space: normal !important; // 强制允许换行
    height: auto !important; // 高度自适应
    padding: 4px 2px !important; // 增加左右内边距
    line-height: normal !important; // 调整行高
    min-height: 40px; // 保持最小高度
  }

  .cueWord_img {
    background-image: url('@/assets/imgs/create-application-modal/cueWord-en.png') !important;
  }

  .Workflow_img {
    background-image: url('@/assets/imgs/create-application-modal/WorkflowPre-en.png') !important;
  }
}
