.loginModal :global(.ant-modal-content) {
  border-radius: 18px;
  background-size: cover;
  background-image: url('../../assets/imgs/sparkImg/login-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 38px 44px 59px !important;
}

@media (max-width: 768px) {
  .loginModal :global(.ant-modal-content) {
    background-image: url('../../assets/imgs/sparkImg/login-bg.png');
    background-position: right;
    padding: 34px 12px !important;
  }
}
