.enterpriseSpaceLayout {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.sidebar {
  width: 200px;
  background-color: #ffffff;
  border-right: 1px solid #e2e8ff;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 24px 0;
}

.header {
  padding: 0 10px;
  margin-bottom: 16px;
  
  .headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-bottom: 26px;
    border-bottom: 1px solid #e2e8ff;

    .avatar {
      width: 72px;
      height: 72px;
      border-radius: 16px;
      margin-bottom: 12px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .title {
      font-size: 16px;
      font-weight: 600;
      color: #1f1f1f;
      line-height: 24px;
      margin-bottom: 8px;
      max-width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .roleTag {
      width: fit-content;
      height: 24px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #DFE5FF;
      border-radius: 15px;
      font-family: PingFang-Sim;
      font-size: 12px;
      font-weight: normal;
      line-height: normal;
      text-align: justify; /* 浏览器可能不支持 */
      display: flex;
      align-items: center;
      letter-spacing: normal;
      color: #333333;
    }
  }
}

.menuList {
  flex: 1;
  padding: 24px 0 24px 20px;
}

.menuItem {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  margin-bottom: 4px;
  border-radius: 10px;
  cursor: pointer;
  font-family: PingFang SC;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;



  &.active,
  &:hover {
    border-radius: 10px;
    background: #F8FAFF;
    color: #275eff;

    .icon {
      color: #275eff;
    }
  }

  &.active {
    &:after {
      content: '';
      display: block;
      width: 2px;
      height: 21px;
      background: #275eff;
      border-radius: 2px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .icon {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    flex-shrink: 0;
    color: #808080;
  }

  .text {
    line-height: 20px;
  }
}

.content {
  flex: 1;
  overflow-y: auto;

  /* 自定义滚动条样式 */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  /* Firefox滚动条 */
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

.contentInner {
  padding: 24px;
  height: 100%;
}
