<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iflytek.astron.console.toolkit.mapper.users.SystemUserMapper">
    <select id="getSystemUserByLoginNameOrNickName" resultType="com.iflytek.astron.console.toolkit.entity.table.users.SystemUser">
        select * from system_user where login = #{username} or nickname = #{username}
    </select>
</mapper>
