<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iflytek.astron.console.toolkit.mapper.repo.TagInfoV2Mapper">
    <select id="selectTagListByType" resultType="com.iflytek.astron.console.toolkit.entity.table.repo.TagInfoV2">
        select * from tag_info_v2 where uid = #{uid}
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="list != null">
            and repo_id in
            <foreach item="id" index="index" collection="list" open="(" separator="," close=")">#{id}</foreach>
        </if>
    </select>
</mapper>
