<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iflytek.astra.console.toolkit.mapper.tool.UserFavoriteToolMapper">
    <select id="findByUserIdAndToolId" resultType="com.iflytek.astra.console.toolkit.entity.table.tool.UserFavoriteTool">
        SELECT
        *
        from
        user_favorite_tool uft
        where
        uft.user_id = #{userId}
        and uft.plugin_tool_id =#{toolId}
        and uft.is_deleted = 0
        and uft.use_flag = 1;
    </select>

    <select id="findAllTooIdByUserId" resultType="com.iflytek.astra.console.toolkit.entity.dto.ToolFavoriteToolDto">
        SELECT
        uft.tool_id as toolId,uft.mcp_tool_id as mcpToolId,uft.plugin_tool_id as pluginToolId
        from
        user_favorite_tool uft
        where
        uft.user_id = #{userId}
        and uft.is_deleted = 0
        and uft.use_flag = 1;
    </select>
    <select id="findByUserIdAndMcpToolId"
            resultType="UserFavoriteTool">
        SELECT
        *
        from
        user_favorite_tool uft
        where
        uft.user_id = #{userId}
        and uft.mcp_tool_id =#{toolId}
        and uft.is_deleted = 0
        and uft.use_flag = 1;
    </select>
    <insert id="save">
        insert into
        user_favorite_tool
        (id, user_id, tool_id, use_flag,mcp_tool_id,plugin_tool_id,created_time)
        values
        (#{id}, #{userId}, #{toolId}, #{useFlag},#{mcpToolId},#{pluginToolId}, #{createdTime})
    </insert>
    <select id="findToolIdsByUserId" resultType="java.lang.Long">
        SELECT
        uft.tool_id
        from
        user_favorite_tool uft
        where uft.user_id = #{userId}
        and uft.is_deleted= 0
        and uft.use_flag = 1;
    </select>
    <select id="selectAllList"
            resultType="UserFavoriteTool">
        SELECT
         id,user_id as userId,tool_id as toolId,created_time as createdTime,
        use_flag as useFlag,is_deleted as deleted,plugin_tool_id as pluginToolId,mcp_tool_id as mcpToolId
        from
        user_favorite_tool
    </select>
    <update id="updateFavoriteStatus">
        update
        user_favorite_tool uft
        set uft.is_deleted = 1
        where id = #{id}
    </update>
</mapper>
